<div class="row">
  <div class="col-md-6 offset-3">
    
    <% if flash[:list_errors] %>
    <p style="color: red;"><%= flash[:list_errors] %></p>
    <% end %>

    <%= form_for :session, url: login_path do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username, class: 'mb-1 form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'mb-1 form-control' %>

      <%= f.submit "Create my account", class: "mt-2 btn btn-primary" %>
    <% end %>

    </div>
</div>