<center>
<section class="get-in-touch">
   <h1 class="title">Custom Reminder</h1>


      <% if flash[:list_errors] %>
        <div id="error_explanation">
           <div class="alert alert-danger">  
         <% flash[:list_errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
         </div>
      </div>
      <% end %>
      

    <%= form_with(model: @reminder, local: true) do |f| %> 
      <%= f.label :message %>
      <%= f.text_area :message, class: 'mb-1 form-control' %> <br>
      <%= f.label :giftee_name %>      
      <%= f.collection_select :birthday_id, @birthdays, :id, :giftee_name, class: 'mb-1 form-control' %><br/><br>   
      <%= f.submit "Create", class: "submit-btn" %>
    <% end %>
  </section>


  </center>