<h1><%= @user.username%>'s Profile</h1>

  
    <div id= "box">
      <%= button_to "Edit Profile", edit_user_path, method: :get, class: "mt-2 btn btn-primary" %>
    </div>
    <div id= "box">
      <%= button_to "Add Birthday to Remember", new_birthday_path(@user), method: :get, class: "mt-2 btn btn-primary" %>
    </div>
    <div id= "box">
      <%= button_to "Add Gift Idea", new_gift_path(@user), method: :get, class: "mt-2 btn btn-primary" %>
    </div>
     <div id= "box">
       <%= button_to "Delete Account", @user, method: :delete, class: "mt-2 btn btn-primary" %>
    </div>

<div id="box">
    <% @user.birthdays.each do |birthday|%>
       <h3> Profile </h3>
         <img src="<%=birthday.image_url%>" width="250" height="300"><br>
        <p> Giftee </p> 
        <%= link_to birthday.giftee_name, birthday_path(birthday) %><br>
        <p> Message </p> 
        <%= birthday.message %><br>
        <%= button_to "Delete Birthday", birthday_path(birthday), method: :delete, class: "mt-2 btn btn-primary" %>
    <%end%>
</div>
