<h1><%= @user.username%>'s Profile</h1>

    <div id= "box">
      <%= button_to "Edit Profile", edit_user_path, method: :get, class: "mt-2 btn btn-primary" %>
    </div>
    <div id= "box">
      <%= button_to "Add Birthday/Giftee", new_birthday_path(@user), method: :get, class: "mt-2 btn btn-primary" %>
    </div>
    <div id= "box">
      NOTE REMINDERS SHOULD BE CREATED FROM THE BIRTHDAY SHOW PAGE
    </div>
    <div id= "box">
       <%= button_to "Delete Employee", @user, method: :delete, class: "mt-2 btn btn-primary" %>
    </div>



<div id="box">
    <table style="width:100%">
        <tr>
            <th>Profile</th>
            <th>Giftee</th>
            <th>Message</th>
        </tr>
    <% @user.birthdays.each do |birthday|%>
       <tr> 
        <td> <img src="<%=birthday.image_url%>" width="250" height="300"></td>
        <td><%= link_to birthday.giftee_name, birthday_path(birthday) %></td>
        <td><%= birthday.message %></td>
       </tr>
    <%end%>
    </table>
</div>
