<br>
<center>
<div class="bg-light" style="width: 900px"><br><br>
<section class="get-in-touch">
<h1 class="title2"><%= @user.username%>'s Profile</h1>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
      <%= button_to "Add Birthdays", new_birthday_path(@user), method: :get, class: "btn btn-outline-primary" %>
      <%= button_to "Add Gift Idea", new_gift_path(@user), method: :get, class: "btn btn-outline-success" %>
      <%= button_to "Edit Profile", edit_user_path, method: :get, class: "btn btn-outline-warning" %>
      <%= button_to "Delete Account", @user, method: :delete, class: "btn btn-outline-danger" %>
</div>

<br><br/>

<div class="centered">
<h3 class="title3"> Saved Birthdays </h3><br>
      <% @user.birthdays.each do |birthday|%>
      <div class="card_color" style="max-width: 600px">
            <%= link_to image_tag(birthday.image, style:'width:400px; height:350px', class:"img"), birthday_path(birthday)%>
            <h5 class="text-light title3">Name: <%= birthday.giftee_name%></h5>
            <h5 class="text-light title3">Birthday: <%= birthday.dob.strftime("%B #{birthday.dob.day.ordinalize}") %></h5>
            <br>
           <%= button_to "View Birthday", birthday_path(birthday), method: :get, class: "long-btn" %><br>
           <%= button_to "Delete Birthday", birthday_path(birthday), method: :delete, class: "long-btn" %><br>
</div>
 <br>
 <br>
    <%end%>

</section>
</div>
</center>
