<br><br>
<center>
<section class="get-in-touch">
<h1 class="title2"><%= @user.username%>'s Profile</h1>

<div class="btn-group btn-group-toggle" data-toggle="buttons">
      <%= button_to "Add Birthdays", new_birthday_path(@user), method: :get, class: "btn btn-outline-primary" %>
      <%= button_to "Add Gift Idea", new_gift_path(@user), method: :get, class: "btn btn-outline-success" %>
      <%= button_to "Edit Profile", edit_user_path, method: :get, class: "btn btn-outline-warning" %>
      <%= button_to "Delete Account", @user, method: :delete, class: "btn btn-outline-danger" %>
</div>

<br><br/>

<div class="centered">
<h3 class="title3"> Saved Birthdays </h3><br>
      <% @user.birthdays.each do |birthday|%>
      <div class="card mb-3 bg-info rounded" style="max-width: 800px;">
      <div class="p-2 flex-grow-1 bd-highlight">
          <%= link_to image_tag(birthday.image, style:'width:400px; height:350px'), birthday_path(birthday), class:"card-img rounded-circle"%>
    </div>
    <div class="p-2 bd-highlight">
            <h5 class="card-title">Name: <%= birthday.giftee_name%></h5>
            <br>
           <div class="p-2 bd-highlight"> <%= button_to "View Birthday", birthday_path(birthday), method: :get, class: "mt-2 btn btn-primary" %></div>
           <div class="p-2 bd-highlight"> <%= button_to "Delete Birthday", birthday_path(birthday), method: :delete, class: "mt-2 btn btn-primary" %></div>
    </div>
</div>
 <br>
 <br>
    <%end%>

</section>
</center>

