<section class="get-in-touch">
   <h1 class="title">Add Gift Ideas</h1>
<div class="row">
  <div class="col-md-6 offset-3">
      <% if flash[:list_errors] %>
        <div id="error_explanation">
           <div class="alert alert-danger">  
         <% flash[:list_errors].each do |error| %>
          <p><%= error %></p>
        <% end %>
         </div>
      </div>
      <% end %>


<center>
  <div class="row">
    <div class="col-md-6 offset-3">
      <%= form_with(model: @gift, local: true) do |f| %>
        <%= f.label "Who is this for?" %>
        <%= f.collection_select :birthday_id, @birthdays, :id, :giftee_name, class: 'mb-1 form-control' %>  <br><br>
        <%= f.label "Enter Gift Here" %>
        <%= f.text_field :giftidea, class: 'mb-1 form-control' %><br>
        <%= f.label :price %>
        $<%= f.number_field :price, min: 1, placeholder: '$20', class: 'mb-1 form-control' %><br/>
        <%= f.submit "Create", class:"submit-btn"%>
      <% end %>
    </div>
  </div>

</center>

  </div>

</div>

</section>