<div class="row">
  <div class="col-md-6 offset-3">
    <%= form_with(model: @birthday, local: true) do |f| %>
      <%= f.label :giftee_name %>
      <%= f.text_field :giftee_name, class: 'mb-1 form-control' %>   
      <%= f.label :dob %>
      <%= f.date_field :dob, class: 'mb-1 form-control' %>   
      <%= f.label :message %>
      <%= f.text_field :message, class: 'mb-1 form-control' %>     
      <%= f.label :Username %>   
      <%= f.collection_select :user_id, User.all, :id, :username, class: 'mb-1 form-control' %> <br>
      <%= f.label :Reminder %>   
      <%= f.collection_select :reminder_id, Reminder.all, :id, :frequency, class: 'mb-1 form-control' %><br>
      <%= f.submit "Create", class: "mt-2 btn btn-primary" %>
    <% end %>
  </div>
</div>

SHOULD NOT BE CREATING REMINDERS HERE. HAVE USERS CREATE BIRTHDAYS FIRST THEN REDIRECT THEM TO REMINDER NEW 
ALSO USER_ID SHOULD BE CURRENT USER_ID USING SESSION/ HELPER METHOD. 