

<h2>Name: <%= @birthday.giftee_name %></h2>
<h2>Birthday: <%= @birthday.dob.strftime("%d-%m-%Y") %></h2>

<img src= "../../assets/images/bdaypic1.jpg" width="500" height="500">

<h2><%= @birthday.email %></h2>

<h2><%= @birthday.message %></h2>

<%= image_tag(@birthday.image) %>

<h3>Current Reminder:</h3>
<%if @birthday.reminder.nil? %>
    <%= button_to "Add Reminder", new_reminder_path, method: :get, class: "mt-2 btn btn-primary", :birthday_id => @birthday.id %>
<%else%>
   <h3><%=@birthday.reminder.frequency%></h3>
   <%= link_to 'Add to you calendar', birthday_path(protocol: :webcal, format: :ics)%>
 
   <%= button_to "Delete Reminder", reminder_path(@birthday.reminder), method: :delete, class: "mt-2 btn btn-primary" %>
<%end%>


<h1>LIST OF GIFTS</h1>
<% @birthday.gifts.each do |gift|%>
    <%= gift.giftidea%>,
    Price: $<%= gift.price%>
    <%= button_to "Delete Gift", gift_path(gift), method: :delete, class: "mt-2 btn btn-primary" %>
<%end%>