<nav class="navbar mb-2 navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class: "btn btn-dark" %>
    </div>
    <% if @current_user %>
      <ul class="nav navbar-right ">
          <li><%= link_to "Profile", @current_user, class: "btn btn-success", style: "margin:5px"%></li>
        <li><%= link_to "Log out", logout_path, class: "btn btn-warning", method: :delete, style: "margin:5px"%></li> 
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log in", new_session_path, class: "btn btn-primary", style: "margin:5px" %></li> 
        <li><%= link_to "Sign up", new_user_path, class: "btn btn-info", style: "margin:5px" %></li>
      </ul>
    <% end %>
  </div>
</nav>
